<!DOCTYPE html>
<html>
<head>
  <title>TunrApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Artists Index", "/artists" %>

<% if @song %>
<a href="/artists/<%= @song.artist.id %>">Artist Page</a>
<% end %>

<%= yield %>

</body>
</html>
